body{
    background-color: white;
}

*{
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h1{
    font-size: 22pt;
    text-align: center;
    margin-top: 0;
}

h2{
    font-size: 18pt;
    text-align: left;
    font-weight: 500;
} 

a{
    display: block;
    color: #a4a400;
}

.comment{
    font-style: italic;
    background-color: #FFFFA8;
}

.copyright{
    display: flex;
    font-family: monospace;
    text-align: right;
}

.little-margin{
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.inline{
    display: inline;
}

.tooltip{
    display: inline-flex;
    position: relative;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tooltip-text{
    position: absolute;
    bottom: 100%;
    left: -26px;
    background-color: #404040;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.tooltip:hover .tooltip-text{
    display: unset;
}
